body{
    background-color: palevioletred;
    color: white;
    justify-content: space-around;
}
h1{
    font-family: cursive;
}
h4{
    font-family: cursive;
    font-size: 18px;
}
#btn-card{
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
}

button{
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px 0 0 ;
}
/* ==================================FACEBOOK buttons================================== */
/* ----------------Facebook dark mode button styles */
.facebook-btn{
    border-radius: 2px;
    font-size: 0.9;
    padding: 6px 12px;
}
.facebook-dark-btn{
    -moz-box-shadow:inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow:inset 0 1px 0 0 #4d73bf;
    box-shadow:inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: solid 1px #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}
.facebook-dark-btn:hover{
    background-color: #2b54a7;
}
.facebook-dark-btn:active{
    background : #1d4698;
    border-color: #1d4698;
}
/* -----Facebook dark mode button styles ---*/

/* -----Facebook light mode button styles ---*/
.facebook-light-btn{
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}
.facebook-light-btn:hover{
    background-color: #e9ebee;
}
.facebook-light-btn:active{
    background-color: #d8dade;
    border-color: #d8dade;
}
/* ---x-Facebook light mode button styles -x-*/

/* ==========================X============FACEBOOK buttons=====================X======================== */



/*==================================The 3 D Buttons =====================================================*/
/* -------------------3D button1--------------------------- */
.three-D-btn-1{
    position: relative;
    background-image: linear-gradient(to right,#240b36,#c31432) ;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 #13051d;
    outline: none;
}
.three-D-btn-1:hover{
    background-image: linear-gradient(to right,#341050,#eb1236);
}
.three-D-btn-1:active{
    background-color: linear-gradient(to right,#341050,#eb1236);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #13051d;
}

/* ---------x--------3D button1-----------------------x---- */
/* -------------------3D button2 circle--------------------------- */
.three-D-circle{
    position: relative; 

    background-image:radial-gradient(#ff0084,#33001b) ;
    background-image:-o-radial-gradient(#ff0084,#33001b) ;
    background-image:-moz-radial-gradient(#ff0084,#33001b) ;
    background-image:-webkit-radial-gradient(#ff0084,#33001b) ;

    font-size: 1.4rem;
    text-shadow: 0 -1px #ee027c;
    color: white;
    border: solid 1px #690139;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    outline: none;

    box-shadow: inset 0 1px 0 #5c0132,
                0 2px 0 #4b0128,
                0 3px 0 #38001e,
                0 4px 0 #220012,
                0 5px 0 #16000c,
                0 6px 0 #110009,
                0 7px 0 #070004,
                0 8px 0 #050003,
                0 9px 0 #030002ea
}

.three-D-circle:hover{
    background-image:radial-gradient(#fd389e,#410023) ;
    background-image:-o-radial-gradient(#fd389e,#410023) ;
    background-image:-moz-radial-gradient(#fd389e,#410023) ;
    background-image:-webkit-radial-gradient(#fd389e,#410023) ;
}

.three-D-circle:active{
    box-shadow: inset 0 1px 0 #5c0132,
                0 2px 0 #4b0128,
                0 3px 0 #38001e,
                0 4px 0 #220012,
                0 5px 0 #16000c,
                0 6px 0 #110009,
                0 7px 0 #070004;
    top: 2px;
                
}

/* -------------------3D button2 circle--------------------------- */



/*======================X=====================The 3 D Buttons ==============X==================================