body{
    background-image: linear-gradient(to right,#fda8b5,#aadbfa);
    color: rgb(56, 0, 56);
    justify-content: space-around;
}

h1{
    font-family: cursive;
}
h4{
    font-family: cursive;
    font-size: 18px;
}
#btn-card{
    background-color: #e7eef1;
    color: rgba(0, 0, 0, 0.87);
}

button{
    cursor: pointer;
    font-weight: bold;
    margin: 0 15px 0 0 ;
}
/* ==================================FACEBOOK buttons================================== */
/* ----------------Facebook dark mode button styles */
.facebook-btn{
    border-radius: 2px;
    font-size: 0.9;
    padding: 6px 12px;
}
.facebook-dark-btn{
    -moz-box-shadow:inset 0 1px 0 0 #4d73bf;
    -webkit-box-shadow:inset 0 1px 0 0 #4d73bf;
    box-shadow:inset 0 1px 0 0 #4d73bf;
    background: #4267b2;
    border: solid 1px #4267b2;
    color: white;
    text-shadow: 0 1px 0 #3359a5;
}
.facebook-dark-btn:hover{
    background-color: #2b54a7;
}
.facebook-dark-btn:active{
    background : #1d4698;
    border-color: #1d4698;
}
/* -----Facebook dark mode button styles ---*/

/* -----Facebook light mode button styles ---*/
.facebook-light-btn{
    background: #f6f7f9;
    border: solid 1px #ced0d4;
    color: #4b4f56;
}
.facebook-light-btn:hover{
    background-color: #e9ebee;
}
.facebook-light-btn:active{
    background-color: #d8dade;
    border-color: #d8dade;
}
/* ---x-Facebook light mode button styles -x-*/

/* ==========================X============FACEBOOK buttons=====================X======================== */



/*==================================The 3 D Buttons =====================================================*/
/* -------------------3D button1--------------------------- */
.three-D-btn-1{
    position: relative;
    background-image: linear-gradient(to right,#240b36,#c31432) ;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 #13051d;
    outline: none;
}
.three-D-btn-1:hover{
    background-image: linear-gradient(to right,#341050,#eb1236);
}
.three-D-btn-1:active{
    background-color: linear-gradient(to right,#341050,#eb1236);
    top: 3px;
    left: -3px;
    box-shadow: -3px 3px 0 #13051d;
}

/* ---------x--------3D button1-----------------------x---- */
/* -------------------3D button2 circle--------------------------- */
.three-D-circle{
    position: relative; 

    background-image:radial-gradient(#ff0084,#33001b) ;
    background-image:-o-radial-gradient(#ff0084,#33001b) ;
    background-image:-moz-radial-gradient(#ff0084,#33001b) ;
    background-image:-webkit-radial-gradient(#ff0084,#33001b) ;

    font-size: 1.4rem;
    text-shadow: 0 -1px #ee027c;
    color: white;
    border: solid 1px #690139;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    outline: none;

    box-shadow: inset 0 1px 0 #5c0132,
                0 2px 0 #4b0128,
                0 3px 0 #38001e,
                0 4px 0 #220012,
                0 5px 0 #16000c,
                0 6px 0 #110009,
                0 7px 0 #070004,
                0 8px 0 #050003,
                0 9px 0 #030002ea
}

.three-D-circle:hover{
    background-image:radial-gradient(#fd389e,#410023) ;
    background-image:-o-radial-gradient(#fd389e,#410023) ;
    background-image:-moz-radial-gradient(#fd389e,#410023) ;
    background-image:-webkit-radial-gradient(#fd389e,#410023) ;
}

.three-D-circle:active{
    box-shadow: inset 0 1px 0 #5c0132,
                0 2px 0 #4b0128,
                0 3px 0 #38001e,
                0 4px 0 #220012,
                0 5px 0 #16000c,
                0 6px 0 #110009,
                0 7px 0 #070004;
    top: 2px;
                
}

/* -------------x-----3D button2 circle-----------x--------------- */

/*======================X=====================The 3 D Buttons ==============X==================================*/

/* ==================================GRADIENT BORDERED buttons================================== */
/* -------------------gradient-borders-btn-1--------------------------- */
.gradient-borders-btn-1{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 10px transparent;
    border-image: linear-gradient(to bottom left,#ffc500,#FF512F,#c21500);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease-in-out;
}
.gradient-borders-btn-1:hover{
    background-image:linear-gradient(to bottom left,#ffc500,#FF512F,#c21500);
    color: white;
}

/* -----------x-------gradient-borders-btn-1-------------x------------- */


/* -------------------gradient-borders-btn-2--------------------------- */
.gradient-borders-btn-2{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    box-sizing: border-box;
    background-color: #e7eef1;
    border: solid 6px transparent;
    border-image: linear-gradient(to right,#c21500,#FF512F,#ffc500,transparent);
    border-image-slice: 1;
    color: orangered;
    transition: all 0.3s ease-in-out;
}
.gradient-borders-btn-2:hover{
    background-image:linear-gradient(to right,#c21500,#FF512F,#ffc500,transparent);
    color: white;
    border-style: none;
}
/* -----------x-------gradient-borders-btn-2-------------x------------- */

/* ====================X=============GRADIENT BORDERED buttons================X================= */

/* ==================================ANIMATED buttons================================== */

/* ------------------animated-btn-1-------------------------- */
.animated-btn-1{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px 0 #000;

	background: linear-gradient(to top left, #ee7752, #e73c7e, #23a6d5, #23a6d5,#23d5ab,#23d5ab);
}

.animated-btn-1:hover {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* -----------x-------animated-btn-1-------------x------------- */

/* ------------------animated-btn-2-------------------------- */
.animated-btn-2{
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    color: white;
    text-shadow: 0 2px 0 #000;

    background:#018dc0;
    border: solid 1px #555;
}
.animated-btn-2::after{
    position: absolute;
    top: 30%;
    right: 0.6rem;
    content: '»';
    transition: all ease 0.3s;
    opacity: 0;
}
.animated-btn-2:hover{
    padding: 20px 60px 20px 20px;
}
.animated-btn-2:hover::after{
    right: 1.2rem;
    opacity: 1;
}

/* ----------X--------animated-btn-2-----------------X--------- */



/* ======================X===========ANIMATED buttons===============X================== */

/* ==================================TOGGLE buttons================================== */
/* ------------------toggle-switch-btn-1-------------------------- */
.toggle-1{
    font-family: sans-serif;
    display: inline;
    vertical-align: top;
    margin: 0 15px 0 0;
}

.toggle-1-input{
    display: none;
}
.toggle-1-button{
    position: relative;
    display: inline-block;
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    background-color: rgb(253, 10, 10);
    border: solid 1px  rgb(168, 1, 1);
    color: white;
    width: 80px;
    height: 38px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.toggle-1-button::before{
    position: absolute;
    left: 40px;
    top: 8px;
    content: 'OFF';
    display: inline-block;
    height: 20px;
    padding:0 3px ;
    background:white;
    color: rgb(253, 10, 10);
    transition: all 0.3s ease;
}
.toggle-1-input:checked + .toggle-1-button{
    background-color: rgb(2, 141, 2);
    border: solid 1px rgb(1, 88, 1);
}
.toggle-1-input:checked + .toggle-1-button::before{
    left: 5px;
    content: 'ON';
    color: green;
}

/* ----------X--------toggle-switch-btn-1-----------------X--------- */



/* =====================X=============TOGGLE buttons===========X======================= */


